# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Python caches & virtual environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Build outputs
dist/
build/
out/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Markdown documentation
!README.md

